
div.panels div.options-nav div.left p, div.middle-left p,
div.middle-right p, div.right p {
  margin-top: 15%;
}

#div-wrapper{
  position: relative;
  width: 80%;
  height: 310px;
  border: solid darkgreen 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

div.panels{
  position: absolute;
  border: solid darkgreen 5px;
  width: 100%;
  height: 280px;
  margin: auto;
  text-align: justify;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 5px;
}

div.panels div.options-nav{
  vertical-align: middle;
  text-align: center;
  position: absolute;
  bottom: 0px;
  border: solid black 1px;
  width: 100%;
  height: 80px;
  padding: 0px;
  cursor: pointer;
}

div.left:hover, div.middle-left:hover,
div.middle-right:hover, div.right:hover{
  background-color: lightgrey;
}

div.panels div.options-nav div.left{
  display: inline-block;
  border: solid black 1px;
  width: 24.3%;
  height: 100%;
}

div.panels div.options-nav div.middle-left{
  display: inline-block;
  border: solid black 1px;
  width: 24.3%;
  height: 100%;
}

div.panels div.options-nav div.middle-right{
  display: inline-block;
  border: solid black 1px;
  width: 24.3%;
  height: 100%;
}

div.panels div.options-nav div.right{
  display: inline-block;
  border: solid black 1px;
  width: 24.3%;
  height: 100%;
}

#intro{
  display: block;
}

#q1, #q2, #q3, #q4, #q5, #pass, #fail {
  display: none;
}

#timer{
  font-weight: bold;
  font-family: verdana;
  font-size: 20px;
}

#timer-wrapper{
  width: 10%;
  height: 10%;
  margin: auto;
  text-align: center;
  border: solid 2px red;
  border-radius: 50%;
}

#start:hover {
  color: green;
}
